body{
    background-color: rgb(45, 43, 73);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
}

.main-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 0vh;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.form{
    margin: 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#firstName{
    margin: 10px 0px;
    width: 100px;
    height: 16px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
} 
#lastName{
    width: 175px;
    height: 16px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
#phoneNumber{
    margin: 10px 0px;
    width: 300px;
    height: 16px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
#submit {
    margin: 10px 0px;
    width: 320px;
    height: 36px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(118, 116, 148);
    color: #fff;
    cursor: pointer;
}

#submit:hover{
    background-color: rgb(88, 77, 240);
}

#submit:active{
    background-color: rgb(88, 77, 240);
}

.table-container{
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10%;
}

.table-container th{
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(118, 116, 148);
    color: #fff;
}

#name-sort:hover{
    background-color: rgba(118, 116, 148, 0.644);
    cursor: pointer;
}

.srno, .name, .contact, .delete{
    margin: 10px 0px;
    width: 320px;
    height: 16px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.delete:hover {
    background-color: rgba(255, 0, 0, 0.493);
    color: #fff;
    cursor: pointer;
}

.delete button{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}
#search{
    margin: 10px 0px;
    width: 50%;
    height: 16px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}